<nav class="navbar navbar-dark bg-dark cotainer-fluid">
    <h1 class="navbar-brand px-2">Gift Card Application</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form class="form-inline p-3 text-end">
            <%= link_to "Monthly Report",admin_path, method: :get,class: "text-light bg-dark text-decoration-none" %>
        </form>
        <form class="form-inline p-3 text-end">
            <%= link_to "Order History", admin_path, method: :get,class: "text-light bg-dark text-decoration-none" %>
        </form>
        <form class="form-inline p-3 text-end">
            <%= link_to "Logout", logout_path, method: :delete,class: "text-light bg-dark text-decoration-none" %>
        </form>
    </div>
</nav>
<div align="center">
  <h1>Orders</h1>
</div>

<table class= "table table-striped" align="center">
  <thead class ="thead-dark">
    <tr class="table-dark">
      <th>Id</th>
      <th>Date</th>
      <th>Name</th>
      <th>Value</th>
      <th>Commision</th>
      <th>Delivery Status</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Order.all.each do |order| %>
      <tr>
        <td><%= order.id%></td>
        <td><%= order.date%></td>
        <td><%= order.fullname  %></td>
        <td><%= order.value %></td>
        <td><%= order.commision%></td>
        <td><%= order.delivery_status%></td>
        <td><a href="order/<%=order.id%>/edit"class="btn btn-success">Mark Delivered</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= 
   @user_signed_in
%>

