<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @order.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @order.lastname %>
</p>

<p>
  <strong>Value:</strong>
  <%= @order.value %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @order.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>


<%= link_to 'Back', orders_path %>
